[Unit]
Description=WLAN Radio autostart
After=network-online.target mpd.service
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/WLAN-Radio2.0/Software
ExecStart=/usr/bin/python3 /home/pi/WLAN-Radio2.0/Software/radio_test.py
Restart=always

[Install]
WantedBy=multi-user.target